@use "../../variables" as *;

.chat-list-container {
  background-color: $terciary-color;
  position: relative;

  .title-chats {
    color: $custom-black;
    margin-right: auto;
    margin-left: 1rem;
  }

  .btn-upload-image {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
    border: none;
    outline: none;
    background-color: $custom-white;
    cursor: pointer;

    .user-avatar {
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .copy-msg {
    color: $custom-white;
    background-color: $custom-black;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-weight: bold;
    z-index: -1;
    opacity: 0;

    &.visible {
      opacity: 1;
      transition: opacity ease 0.5s;
    }
  }

  .list-users {
    gap: 0.5rem;

    .text-searching {
        margin-bottom: 2rem;
        text-align: center;
        font-weight: bold;
    }
    li {
      width: calc(100% - 3.5rem);
      color: $primary-color-dark;
      text-wrap: nowrap;
      border: $primary-color-dark 1px solid;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      gap: 1rem;
      position: relative;
      margin-left: 3.5rem;

      .go {
        opacity: 0;
        transform: translateX(-10px);
        transition: opacity 0.5s ease, transform 0.5s ease;
      }

      .badge-new {
        position: absolute;
        top: 50%;
        right: 0.5rem;
        transform: translateY(-50%);
        background-color: $primary-color-dark;
        color: $custom-white;
        gap: 0.25rem;
      }

      .chat-avatar {
        width: 2rem;
        height: 2rem;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        position: absolute;
        right: calc(100% + 1rem);
      }

      &:hover {
        transition: all ease 0.5s;
        background-color: $primary-color-dark;
        color: $custom-white;
        .go {
          opacity: 1;
          transform: translateX(0);
          color: $custom-white;
        }
        .badge-new {
          background-color: $custom-white;
          color: $primary-color-dark;
          transition: all ease 0.5s;
        }
      }
    }
  }

  .btn-logout {
    border: none;
    outline: none;
    cursor: pointer;
    gap: 0.5rem;
    position: relative;
    overflow: hidden;
    width: 1.5rem;
    height: 1.5rem;
    background: $terciary-color;

    .text {
      color: $custom-black;
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: 0;
      text-wrap: nowrap;

      @media (max-width: 767px) {
        display: none;
      }
    }

    .picture {
      width: 1.5rem;
      max-width: 1.5rem;
      height: 1.5rem;
      max-height: 1.5rem;
      object-fit: cover;
      object-position: center;
      position: relative;
      z-index: 2;
      background: $terciary-color;
    }

    &:hover {
      width: 6.5rem;
      transition: width ease 0.5s;
    }
  }

  .btn-invite {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border: none;
    outline: none;
    background-color: $primary-color;
    color: $custom-white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0.5rem 1rem;
    border-radius: 1rem;

    .add-symbol {
      background-color: $primary-color;
      border-radius: 50%;
      position: absolute;
      right: 0;
      padding: 16px;
      width: 20px;
      height: 20px;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 2px;
        background-color: $custom-white;
        transform: translate(-50%, -50%);
      }

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2px;
        height: 12px;
        background-color: $custom-white;
        transform: translate(-50%, -50%);
      }
    }

    .add-text {
      margin-right: 1rem;
      transition: margin ease 0.5s;

      &.hide {
        margin-right: -2.7rem;
      }
    }
  }
}

@media (max-width: 767px) {
  .chat-list-container {
    border-radius: 0 !important;

    .list-users {
      li {
        width: calc(100% - 3rem);
        margin-left: 3rem;

        .chat-avatar {
          width: 1.5rem;
          height: 1.5rem;
          right: calc(100% + 1rem);
        }

        .badge-new {
          width: 1.1rem;
          height: 1.1rem;
          display: flex;
          justify-content: center;
          align-items: center;

          .count-news-text {
            display: none;
          }
        }
      }
    }

    .btn-invite {
      border-radius: 50%;
      padding: 1rem;

      .add-text {
        display: none !important;
      }
    }
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0.25;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}