@use "../../variables" as *;

.message-list {
  max-height: calc(100dvh - 5rem) !important;
  overflow-y: auto;
  scrollbar-width: none;
  padding: 2rem;
  padding-bottom: 10rem;

  .message {
    width: fit-content;
    max-width: 80%;
    min-width: 33%;
    position: relative;

    &:first-child {
      margin-top: 1rem;
    }

    .message-text {
      overflow-wrap: break-word;
      word-break: break-word;
      hyphens: auto;
      display: block;
      margin-bottom: 0.25rem;

      .picture {
        display: block;
        width: 100%;
        max-width: 5rem;
        margin-left: auto;
        object-fit: cover;
        object-position: center;
      }

      .text-link-download-doc {
        display: block;
      }
    }

    &.user {
      margin-left: auto;
      margin-bottom: 0.25rem;
      background-color: $primary-color-dark;

      .message-user {
        font-weight: bold;
        color: $custom-white;
        text-align: right;
        margin-left: auto;
        display: block;
      }

      .message-text {
        color: $custom-white;
        text-align: right;
        margin-left: auto;
      }
    }

    &.other {
      margin-right: auto;
      background-color: $secondary-color;

      .message-user {
        font-weight: bold;
        color: $custom-black;
        text-align: left;
        margin-right: auto;
        display: block;
      }

      .message-text {
        color: $custom-black;
        text-align: left;
        margin-right: auto;

        .picture {
          margin-right: auto;
          margin-left: 0;
          filter: invert(1);
        }

        .text-link-download-doc {
          margin-left: auto;
        }
      }
    }

    .message-time {
      color: $custom-black;
      display: block;
      text-align: right;
    }

    &.user {
      .message-time {
        color: $custom-white;
        text-align: left;
      }
    }

    .wrapper-edit-delete {
      background-color: transparent;
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      gap: 0.5rem;
      width: fit-content;

      button {
        background-color: transparent;
        border: none;
        outline: none;
        width: 1rem;
        height: 1rem;
        cursor: pointer;

        .picture {
          width: 100%;
          max-width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          filter: invert(1);
        }
      }

      @media (max-width: 767px) {
        bottom: 0.5rem;
        right: 0.5rem;
        gap: 0.25rem;

        button {
          width: 0.75rem;
          height: 0.75rem;
        }
      }
    }

    &.other {
      .wrapper-edit-delete {
        right: unset;
        left: 1rem;
        flex-direction: row-reverse;

        button {
          .picture {
            filter: invert(0);
          }
        }

        @media (max-width: 767px) {
          left: 0.5rem;
        }
      }
    }

    .image-msg {
      max-width: 100%;
      width: 100%;
      display: block;
      margin-bottom: 0.25rem;

      .msg-media {
        max-width: 100%;
        width: 100%;
      }
    }

    .msg-media-video {
      width: 100%;
      max-width: 100%;
      aspect-ratio: 16 / 9;
    }
  }

  .overlay-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    z-index: 1000;
    background: $custom-black-op50;

    .modal {
      background-color: $custom-white;
      width: 95%;
      max-width: 640px;
      //padding: clamp(1.5rem, 3vw, 2.5rem);

      .question {
        color: $custom-black;
        text-align: center;
        font-weight: bold;
      }

      .input-edit {
        width: 80%;
        max-width: 40rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        resize: none;
      }

      .wrapper-btns {
        //padding-top: clamp(1.5rem, 3vw, 2.5rem);
        position: relative;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $custom-black;
        }

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 2px;
          height: 100%;
          background-color: $custom-black;
        }

        button {
          flex: 1;
          border: none;
          outline: none;
          background-color: transparent;
          cursor: pointer;
          font-weight: bold;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .message-list {
    padding: 1rem;
    padding-bottom: 7rem;
  }
}

@media (max-width: 640px) {
  .message-list {
    padding-bottom: 4rem;
  }
}
