@use "../../variables" as *;

.message-input {
  display: flex;
  gap: 1rem;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  max-width: 767px;
  margin: 0 auto;
  padding: 4rem 2rem 2rem;
  background: linear-gradient(0deg,rgba(25, 109, 245, 1) 0%, rgba(59, 130, 246, 1) 30%, rgba(147, 197, 253, 1) 60%, rgba(147, 197, 253, 0.5) 80%, rgba(147, 197, 253, 0) 100%);
  border-radius: 0 0 0.75rem 0.75rem;

  @media (max-width: 767px) {
    padding: 2rem 1rem 1rem;
    border-radius: 0;
  }

  .input-message {
    width: 100%;
    border: 1px solid $primary-color;
    outline: none;
    color: $primary-color-dark;
    flex: 0.8;
  }

  .button-send-message {
    flex: 0.2;
    color: $custom-white;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-weight: bold;
  }
}
