$primary-color: #3B82F6;
$primary-color-dark: #196df5;
$secondary-color: #93C5FD;
$secondary-color-op50: #93C5FD80; // 50% opacity
$custom-white: #F9FAFB;
$custom-black: #111827;
$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;