$primary-color: #3B82F6;
$primary-color-dark: #196df5;
$secondary-color: #93C5FD;
$secondary-color-op50: #93C5FD80; 
$terciary-color: #c5e0ff;
$custom-white: #F9FAFB;
$custom-black: #111827;
$custom-black-op50: rgb(17 24 39 / 86%);
$green-connected: rgba(0, 192, 45, 0.86);
$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;