@use "./variables" as *;
@use "./components/chat/chat" as chat;
@use "./components/messageInput/messageInput" as messageInput;
@use "./components/messageList/messageList" as messageList;
@use "./components/usernameForm/usernameForm" as usernameForm;
@use "./components/chatList/chatList" as chatList;

body {
  background-color: $custom-white;
  scrollbar-width: none;
}

#root {
  scrollbar-width: none;
  > div {
    width: 100vw;
    max-width: 767px;
    height: 100dvh;
    max-height: 100dvh;
    margin: 0 auto;
    padding: 2rem;

    @media (max-width: 767px) {
      padding: 1rem;
    }
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
}

.mb-half {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}

.ml-half {
  margin-left: 0.5rem;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}

.pd-1 {
  padding: 0.5rem;
}
.pd-2 {
  padding: 1rem;
}

@media (max-width: 767px) {
  .mb-1 {
    margin-bottom: 0.5rem;
  }
  .mb-2 {
    margin-bottom: 1rem;
  }
  .mb-3 {
    margin-bottom: 1.5rem;
  }

  .pd-1 {
    padding: 0.25rem;
  }
  .pd-2 {
    padding: 0.5rem;
  }
}

.fs-1 {
  font-size: 1rem;
}
.fs-2 {
  font-size: 1.25rem;
}
.fs-3 {
  font-size: 1.5rem;
}
.fs-4 {
  font-size: 2rem;
}

@media (max-width: 767px) {
  .fs-1 {
    font-size: 0.75rem;
  }
  .fs-2 {
    font-size: 1rem;
  }
  .fs-3 {
    font-size: 1.25rem;
  }
  .fs-4 {
    font-size: 1.5rem;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.align-start {
  align-items: flex-start;
}
.justify-start {
  justify-content: flex-start;
}
.align-end {
  align-items: flex-end;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}

.br-half {
  border-radius: 0.5rem;
}

.br-1 {
  border-radius: 0.75rem;
}

.shadow {
  box-shadow: 0px 5px 10px -4px $custom-black;
  -webkit-box-shadow: 0px 5px 10px -4px $custom-black;
  -moz-box-shadow: 0px 5px 10px -4px $custom-black;
}